.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
    max-width: 350px;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #eef;
    font-size: 2rem;
    cursor: pointer;
  }